<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
</head>
<body>
    <h1>Index en programación</h1>
    <img src="/img/index.jpg" alt="index">
    <p>Un índice común se crea con "index", los valores no necesariamente son únicos y aceptan valores "null". Puede haber varios por tabla. Vamos a trabajar con nuestra tabla "libros". Un campo por el cual realizamos consultas frecuentemente es "editorial", indexar la tabla por ese campo sería útil.</p>
    
</body>
</html>