<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1>HEROES DE LA PROGRAMACION</h1>
    <img src="/img/index.jpg" alt="index" width="30%"> 
    <p>Un índice común se crea con "index", los valores no necesariamente son únicos y aceptan valores "null". Puede haber varios por tabla. Vamos a trabajar con nuestra tabla "libros". Un campo por el cual realizamos consultas frecuentemente es "editorial", indexar la tabla por ese campo sería útil.</p>
    <ul>
        
        <li><a href="http://localhost:3030/babbage">ir a Babbage</a></li>
        <li><a href="http://localhost:3030/Berners-Lee">ir a Berners-Lee</a></li>
        <li><a href="http://localhost:3030/clarke">ir a Clarke</a></li>
        <li><a href="http://localhost:3030/hamilton">ir a Hamilton</a></li>
        <li><a href="http://localhost:3030/hopper">ir a Hopper</a></li>
        <li><a href="http://localhost:3030/Lovelace">ir a Lovelace</a></li>
        <li><a href="http://localhost:3030/Turing">ir a Turing</a></li>
    </ul>
</body>
</html> 